@using System
@using RazorEngine.Text
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">@Model.Title</h1>
    <h2 class="project-tagline">@Model.Description</h2>
</section>
<section class="main-content">
    
        @{
            RawString r = new RawString(Model.Content);
            <div>
                @r
            </div>
        }
</section>
<br/>
<div class="main-content">
    <p>
        <div class="ds-thread" data-thread-key="roynet-@Model.ID" data-title="index" data-url="http://ifchen.com/@Model.Link/"></div>
    </p>
</div>
<section class="main-content">
    <footer class="site-footer">
        <small>©陈惊蛰 2015</small>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254931183'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254931183%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </footer>
</section>
<script type="text/javascript">
    var duoshuoQuery = { short_name: "roytin" };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
</body>
</html>


